<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../public/assets/css/mobiscroll.jquery.min.css">
</head>
<body>
    <div id="demo-range-selection"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.js"></script>
    <script src="../../../public/assets/js/mobiscroll.jquery.min.js"></script>
    <script>
        mobiscroll.setOptions({
            theme: 'ios',
            themeVariant: 'light'
        });

        $(function () {

            $('#demo-range-selection').mobiscroll().datepicker({
                controls: ['calendar'],
                display: 'inline',
                rangeSelectMode: 'wizard',
                select: 'range',
                showRangeLabels: true
            });

        });
    </script>
</body>
</html>