@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700&family=Volkhov:wght@400;700&display=swap");

/* ============== Global Styling start from here ============== */

/* font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Volkhov', serif; */
* {
    /* transition: 0.2s; */
}

.btn,
a {
    box-shadow: 0 0 0 0;
}

html,
body {
    scroll-behavior: smooth;
}

.form_page {
    min-height: 100vh;
    background-color: #352d66;
}
body {
    font-family: "Poppins", sans-serif;
}
.text_yellow {
    color: #fac033;
}
.btn_yellow {
    padding: 8px 28px;
    background-color: #fac033;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000 !important;
    border-radius: 0;
}
.btn_yellow:hover {
    color: #000000 !important;
    /* box shadow */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* ============== XX Global Styling start from hereXX ============== */

nav {
    background-color: #352d66;
    /* position: fixed !important;
    top: 0;
    width: 100%; */
}

nav a {
    color: #fff !important;
}

nav .nav-link {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    position: relative;
}

nav .nav-link::before {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    width: 0px;
    height: 5px;
    border-radius: 2.5px;
    background: #fac033;
    transition: width 0.3s;
}

nav .nav-link:hover::before,
nav .nav-link.active::before {
    width: 21px;
}

nav a:hover {
    color: #fac033 !important;
}

.hero_div {
    padding: 20px 0 130px;
    background-image: url(../img/hero_bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.hero_heading {
    font-family: "Volkhov";
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 54px;
    color: #ffffff;
}
.hero_text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    color: #ffffff;
}
.hero_div .form_control {
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #cbcbcb;
    padding-bottom: 8px;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    height: 40px;
}
.hero_div .form_control::placeholder {
    color: #cbcbcb;
}

.hero_div .form_control {
    color: #cbcbcb;
}

.hero_div .swiper-vertical {
    max-height: 500px;
}

.hero_div .swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical > .swiper-pagination-bullets {
    right: auto;
    left: 10px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: url(../img/calendar-outline.png) no-repeat;
    background-size: cover;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    /* background: url(../img/timer-outline.png) no-repeat; */
    background: url(../img/timer-outline.png) no-repeat;
    background-size: 100% auto;
}

.hero_div
    .swiper-pagination-vertical.swiper-pagination-bullets
    .swiper-pagination-bullet,
.swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
    width: 10.62px;
    height: 10.62px;
    background: #ffffff;
    border-radius: 90px;
    transition: 0.2s;
}

.hero_div .swiper-pagination-bullet-active {
    width: 10.62px !important;
    height: 28.15px !important;
    background: #fac033 !important;
}

.hero_div .form_control option {
    background-color: #333;
}

.datePicker {
    width: 21px;
    background: transparent;
    color: #fff;
    border: none;
    color-scheme: dark;
    outline: none;
}

.datePicker[type="time"] {
    width: 31px;
}

.hero_div .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
}
.header_form {
    padding-right: 200px;
}
.section_2 {
    padding: 100px 0;
}
.section_title {
    /* Section Title */
    font-family: "Volkhov";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
    color: #222222;
}

.section_para {
    max-width: 482px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #666666;
}

.section_2 .box {
    padding: 40px;
    background-color: #ffffff;
    background-image: url(../img/box-left-bg.png);
    background-size: 100% 100%;
    border-radius: 8px;
    transition: 0.2s;
    border: 2px solid rgba(102, 102, 102, 0.08);
}

.section_2 .box_2 {
    background-image: url(../img/box-right-bg.png);
}

.section_2 .box:hover {
    cursor: pointer;
    border-color: transparent;
    box-shadow: 14px 24px 72px rgba(102, 102, 102, 0.1);
}

.section_2 .box_head {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    color: #222222;
    margin: 50px 0 16px;
}

.section_2 .box_p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #666666;
}
.section_3 {
    padding: 0px 0 0;
    background-image: url(../img/section3_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.section_3 .list {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #666666;
}

.section_5 {
    padding: 50px 0;
    background-color: #fff;
}

.section_5 .box {
    font-family: "Montserrat";
    font-style: normal;
    text-align: center;
    letter-spacing: 0.1em;
}

.section_5 .box h3 {
    text-transform: capitalize;
    font-weight: 700;
    line-height: 25px;
    font-size: 34px;
    color: #000000;
}
.section_5 .borderLeft {
    border-left: 1px solid #57585a;
}
.section_6 .top_head {
    padding: 100px 140px;
    background-image: url(../img/section4bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.price_table {
    max-width: 813px;
    margin: -80px auto 0;
}
.price_table {
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.3);
}
.price_table_head {
    width: 100%;
    height: 64px;
    background-color: #fac033;
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
}
.headbox {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
}
.borderBottom {
    border-bottom: 1px solid #cbcbcb;
}
.borderColLeft {
    border-left: 1px solid #cbcbcb;
}
.section_6 .priceBox {
    height: 50px;
    padding: 0 24px;
}
.section_6 .priceBody .priceBox:nth-child(even) {
    background: rgba(53, 45, 102, 0.05);
}
.section_7 {
    margin-top: 100px;
    padding: 100px 0;
    background-color: #f5f4f7;
}
footer {
    background-color: #15122c;
    padding: 45px 0 0;
}
footer .box .input {
    width: 250px;
}
footer .footer_title {
    margin-bottom: 24px;
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */

    font-feature-settings: "salt" on, "liga" off;

    /* Default / White */

    color: #ffffff;
}
footer .link {
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    font-feature-settings: "salt" on, "liga" off;
    color: #d9dbe1;
    text-decoration: none;
    margin-bottom: 12px;
}
footer .input input {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    height: 40px;
    padding: 7px 12px;
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    font-feature-settings: "salt" on, "liga" off;
    color: #d9dbe1;
    width: 100%;
    border: none;
    outline: none;
    box-shadow: none;
}
footer .input input::placeholder {
    color: #d9dbe1;
}
footer .input .icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}
footer .copyright {
    /* font-family: 'Inter'; */
    margin-top: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    font-feature-settings: "salt" on, "liga" off;
    color: #d9dbe1;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #262148;
}

/* second pages */
.inquiry_main {
    background-color: #352d66;
}
.inquiry_nav {
    position: fixed;
    z-index: 99999999;
    width: 100%;
    background-color: transparent;
    padding: 0 60px;
}
.inquiry_main .side_content {
    color: #fff;
    padding: 151px 60px 46px;
}
.side_content .head {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
    color: #ffffff;
}

.section_3 .swiper-pagination-bullet {
    width: 10.62px;
    height: 10.62px;
    background: #e6e6e6;
    border-radius: 90px;
    transition: 0.4s;
    opacity: 1;
}
.section_3 .swiper-pagination-bullet-active {
    background: #fac033;
    width: 28.15px;
}

.bank_cards .card_img {
    padding: 9px 12px;
}

.specifi p {
    font-family: "Work Sans", "poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #b1b1b1;
    /* identical to box height */
}
.specifi span {
    color: #fff;
}

.specifi {
    border-bottom: 1px solid #999ea1;
}

.side_content .form_control {
    border: 1px solid #999ea1;
    outline: none;
    height: 42px;
    font-family: "Poppins";
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    padding: 8px 14px;
    background-color: transparent;
    display: block;
}

.side_content .form_control::placeholder {
    color: #999ea1;
}
.payment_form {
    background: rgba(217, 217, 217, 0.13);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 12px;
}
.payment_form p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    color: #ffffff;
}
.side_content .borderBottom {
    border-bottom: 1px solid #999ea1;
}

.congrats_box {
    margin: 20px 0 100px;
}

.congrats_box h1 {
    /* font-family: 'Open Sans'; */
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #ffffff;
}
.congrats_box p {
    max-width: 350px;
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #d8d8d8;
}
.upload_photo h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
}
.upload_photo p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #d8d8d8;
}
.upload_photo span {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #d8d8d8;
}
.upload_photo {
    margin: 20px 0 250px;
}
.bg_gray {
    background-color: #d8d8d8 !important;
}
.photo_upload img {
    width: 70px;
    margin-right: 8px;
}
footer .social a {
    text-decoration: none;
}
.dropdown-item {
    color: #000 !important;
}

/* feedback */
.swiper-slide .feedback {
    position: relative;
    width: 500px;
    height: 245px;
}
.swiper-slide .feedback.ghost_dev {
    position: absolute;
    box-shadow: none;
    top: 174px;
    background-color: rgba(255, 255, 255, 0.291);
    left: 40px;
    height: 145px;
    z-index: -1;
    padding-bottom: 0 !important;
    margin-right: 0 !important;
    opacity: 0;
}
.swiper-slide-active .feedback.ghost_dev {
    opacity: 0.5;
}
.feedback.ghost_dev .avatar {
    display: none;
}
.swiper2 {
    padding-bottom: 100px;
    height: 400px;
}
.swiper-slide-next .avatar {
    opacity: 0;
}
.swiper-flip .swiper-slide-shadow-bottom {
    display: none;
}
.swiper-slide-shadow-top {
    display: none;
}
#featureText {
    transition: 0.2s;
}
/* .opacityZero{
    opacity: 0;
} */
/* .swiper-slide-next .feedback{
    transform: scale(0.9);
    opacity: 0.5;
    top: 58px;
    left: -302px;
    opacity: .7;
} */
/* .swiper-slide-active {
    z-index: 11;
}
.swiper-slide-next {
    z-index: 0;
} */
.feedback {
    padding: 28px 30px;
    background: #ffffff;
    border-radius: 10px;
    margin-top: 70px;
    margin-left: 70px;
    margin-right: 80px;
    /* position: absolute;
    width: 500px; */
}
.feedback .avatar img {
    transform: translate(-66%, -76%);
}
.feedback .text {
    margin-top: -50px;
}
.feedback p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 30px !important;
    color: #444444;
}
.feedback h6 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #222222;
    margin-bottom: 5px;
}
.feedback span {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #666666;
}
/* .swiper2{
    overflow: visible;
} */
/* .swiper2 .swiper-pagination {
    transform: translate(-149%, -673%);
} */
.swiper2 .swiper-pagination-clickable .swiper-pagination-bullet {
    width: 10.62px;
    height: 10.62px;
    background: #e6e6e6;
    border-radius: 90px;
    transition: 0.4s;
    opacity: 1;
}

.swiper2 .swiper-pagination-bullet-active {
    height: 28.15px !important;
    background: #fac033 !important;
}

.card_imgs {
    height: 600px;
}

.card_img {
    padding: 19px 40px;
    background: #ffffff;
    border: 1px solid #352d66;
    box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    width: 411px;
    margin: 50px 0;
    z-index: 1;
    transition: 0.2s;
}
.card_img .btn_book {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    background: #352d66;
    border-radius: 100px;
    text-align: center;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 178px;
    height: 40px;
    margin-top: 8px;
    transition: 0.2s;
}
.card_img.absolute {
    position: absolute;
    right: 9%;
    transform: scale(0.9);
    z-index: 0;
}
.card_img.absolute .btn_book {
    background-color: #888888;
}

/* about us page start form here */
.about_hero {
    height: 186px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inquiry_main .img {
    max-height: 100vh;
    overflow: hidden;
}

.inquiry_main .img img {
    position: fixed;
    max-width: 60%;
}

.inquiry_nav .navbar-brand {
    width: 37%;
    background-color: #352d66;
}

.navbar:not(.inquiry_nav) {
    position: sticky;
    top: 0;
    z-index: 999;
}

.hero_div.about_us {
    background-image: url(../img/about_us_bg.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.about_section_2 {
    padding: 100px 0;
    background-color: #efefef;
}
.our_blog {
    padding: 100px 0;
    background-color: #efefef;
}
.our_blog .blog_heading {
    margin-top: 8px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-transform: capitalize;
    color: #000000;
}
.bg_yellow {
    background-color: #11100d !important;
}
.term_service_text .section_para {
    max-width: 100%;
}
.auth_model .modal-body {
    padding: 30px !important;
}
.auth_model .text h3 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 38px;

    color: #000000;
}
.auth_model .text p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #999ea1;
    margin-bottom: 50px;
}

.auth_model .input_group label {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #352d66;
    margin-bottom: 5px;
}
.auth_model .input_group input {
    background: #ffffff;
    border: 1px solid #c6c6c6;
    border-radius: 10px;
    height: 40px;
    padding: 0 10px;
    outline: none;
}
.auth_model .input_group {
    margin-bottom: 12px;
}
.auth_model .modal-dialog {
    max-width: 422px;
}
.auth_model .forgot_password {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #fb344f;
    text-decoration: none;
}
.auth_model .signlink {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #352d66;
    text-decoration: none;
}
.auth_model .dontaccount {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #999ea1;
}
.auth_model .eye {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}
.auth_model .btn_blue {
    background: #352d66;
    border-radius: 4px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 7px;
    width: 100%;
    color: #ffffff;
}
.btn-text {
    box-shadow: none !important;
}

/* dashboard page */
.dashboard_page {
    position: relative;
    min-height: 100vh;
    padding-bottom: 100px;
}

.dashboard_page footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.dashboard_nav .navbar-brand {
    background-color: transparent;
}
.dashboard_sidebar .menu_item {
    display: block;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #2d3142;
    border-bottom: 1px solid rgba(125, 130, 137, 0.6);
    padding-bottom: 11px;
    margin-bottom: 12px;
    transition: 0.2s;
    text-decoration: none !important;
}

.dashboard_sidebar .menu_item:hover,
.dashboard_sidebar .menu_item.active {
    color: #fac033;
}

.dashboard_sidebar .menu_item:last-child {
    border-bottom: 0;
}

.dashboad_main {
    padding-top: 150px;
}
.bookingTable thead {
    background-color: #352d66;
    color: #fff;
}

.bookingTable td,
.bookingTable th {
    text-align: center;
}

.bookingTable th {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
}

.bookingTable td {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #2d3142;
}

.nav-tabs .nav-link {
    border: 0;
    padding-bottom: 12px;
    border-bottom: 1px solid #7d8289;
    margin-bottom: 20px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height, or 131% */

    text-align: center;
    letter-spacing: -0.0015em;

    color: #2d3142;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    border: 0;
    border-bottom: 6px solid #352d66;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height, or 131% */

    text-align: center;
    letter-spacing: -0.0015em;

    color: #2d3142;
}
