@media (min-width: 1400px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1350px;
    }
    .hero_div .container {
        max-width: 1425px;
    }
    .about_hero .hero_heading{
        font-size: 75px;
    }
}

@media (min-width: 1200px){
    .section_7 .swiper-pagination {
        right: -30px;
    }
}

@media (min-width: 1200px) and (max-width: 1400px){
    .section_7 .swiper-pagination {
        right: -70px;
    }
}

@media (max-width: 840px){
    .header_form{
        padding-right: 0px;
    }
    .navbar-brand img{
        width: 55px;
    }
    .hero_heading {
        font-size: 36px;
        line-height: 43px;
    }
    .hero_div{
        background-size: cover;
    }
    .section_2 {
        padding: 60px 0;
    }
    .section_5 .box h3 {
        line-height: 21px;
        font-size: 28px;
    }
    .section_title {
        font-size: 33px;
        line-height: 40px;
    }
    .section_6 .top_head {
        padding: 43px 38px 100px;
    }
    .mobileHide{
        display: none !important;
    }
    footer .box{
        margin-bottom: 50px;
    }
    footer .links{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .flexmobile{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .navbar-nav .nav-link{
        text-align: end;
        margin-bottom: 12px;
        display: inline-block;
    }
    .bank_cards .card_img img{
        max-width: 80px;
    }
    .bank_cards .card_img{
        padding: 15px;
        margin-top: 8px;
    }
    .navbar-nav .nav-item{
        text-align: end;
    }
    .navbar .centerMobile{
        justify-content: end !important;
    }
    .inquiry_nav {
        padding: 0 10px;
    }
    .inquiry_nav .navbar-collapse {
        background-color: #352d66;
        padding: 25px 10px;
    }
    .centerMobile{
        justify-content: center;
    }
    .inquiry_main .side_content {
        padding: 92px 6px 60px;
    }
    .btn_yellow {
        padding: 8px 18px;
        font-size: 12px;
        line-height: 19px;
    }
    .buttons .link{
        font-size: 12px;
    }
    .congrats_box {
        margin: 5px 0 56px;
      }
    .photo_upload{
        flex-wrap: wrap;
    }
    .photo_upload img{
        margin-top: 8px;
    }
    .upload_photo {
        margin: 20px 0 148px;
      }
      .card_img.absolute{
        position:  relative !important;
        right: 0;
        transform: scale(1);
      }
      .card_imgs{
        flex-direction: column;
        height: auto;
      }
      .swiper-slide .feedback.ghost_dev{
        display: none;
      }
      .swiper-slide .feedback {
        width: 100%;
        height: auto;
        margin: 0;
    }
    .feedback .avatar img {
        transform: translate(-52%, -67%);
        width: 59px;
        margin-bottom: 20px;
    }    
    .hero_div .swiper-vertical {
        max-height: 266px;
    }
    .card_img{
        max-width: 100%;
    }
    .section_2 .box{
        margin-bottom: 20px;
    }
    .swiper2 {
        height: 278px;
    }
    .inquiry_nav form{
        justify-content: end;
    }
    .inquiry_nav{
        background-color: #352d66;
    }
    .inquiry_main .img{
        display: none !important;
    }
    .about_us {
        padding: 20px 0 11px;
    }
    .hero_div.about_us{
        background-size: 202%;
    }
}